# =========================
# GIT
# =========================
.git
.gitignore

# =========================
# ENV
# =========================
.env
.env.local
.env.production

# =========================
# COMPOSER
# =========================
vendor/

# =========================
# NODE
# =========================
node_modules/

# =========================
# LOGS
# =========================
storage/logs/

# =========================
# CACHE
# =========================
storage/cache/
storage/temp/

# =========================
# UPLOADS
# =========================
public/uploads/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# TESTS
# =========================
coverage/

# =========================
# DOCS
# =========================
doc/

# =========================
# DOCKER
# =========================
docker/mysql/data/

# =========================
# TEMP FILES
# =========================
*.log
*.tmp