# =========================
# APP
# =========================
APP_NAME=Ecommerce
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8080

# =========================
# DATABASE
# =========================

# Driver de base de datos
DB_CONNECTION=mysql

# En Docker usar "db"
# En local podría ser 127.0.0.1
DB_HOST=db

# Puerto de MySQL
DB_PORT=3306

# Nombre de la base de datos
DB_DATABASE=

# Usuario de MySQL
DB_USERNAME=

# Contraseña de MySQL
DB_PASSWORD=

# =========================
# SESSION
# =========================
SESSION_DRIVER=file
SESSION_LIFETIME=120

# =========================
# SECURITY
# =========================

# Generar una clave única para cada entorno
APP_KEY=

# =========================
# FILES
# =========================
UPLOAD_MAX_SIZE=5M

# =========================
# LOGS
# =========================
LOG_LEVEL=debug