# =========================
# ENV
# =========================
.env*
!.env.example

# =========================
# COMPOSER
# =========================
vendor/

# =========================
# NODE
# =========================
node_modules/

# =========================
# LOGS
# =========================
storage/*.log
storage/logs/*
!storage/logs/.gitkeep

# =========================
# CACHE
# =========================
storage/cache/*
!storage/cache/.gitkeep

# =========================
# TEMP
# =========================
storage/temp/*
!storage/temp/.gitkeep

# =========================
# UPLOADS
# =========================
public/uploads/*
!public/uploads/.gitkeep

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# DOCKER
# =========================
docker/mysql/data/

# =========================
# TESTS
# =========================
coverage/