# =========================
# ENV
# =========================
.env
.env.local
.env.dev
.env.produccion

# =========================
# COMPOSER
# =========================
vendor/

# =========================
# NODE
# =========================
node_modules/

# =========================
# LOGS
# =========================
storage/logs/*
*.log

# =========================
# CACHE
# =========================
storage/cache/*
storage/temp/*

# =========================
# UPLOADS
# =========================
public/uploads/*

# mantener carpeta vacía
!public/uploads/.gitkeep

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# DOCKER
# =========================
docker/mysql/data/

# =========================
# TESTS
# =========================
coverage/

# =========================
# COMPOSER LOCK 
# =========================
# composer.lock